body {
	font-family: Dosis !important;
	margin-top: -30px;
	padding-bottom: 40px;
}
input:focus , select:focus{
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}
div {
	font-family: Dosis;
    font-size: medium;
    padding:5px;
    margin:10px;
    border-radius: 5px;
}
div.success {
	background-color: rgba(137, 237, 105, 0.5);
	border: 1px solid #375F2A;
	color: #375F2A;
	text-align: center;
    width: 228px;
}
div.error {
	background-color: rgba(255, 128, 128, 0.5);
	border: 1px solid #FF1919;
	color: #FF1919;
	text-align: center;
    width: 228px;
}
.Form {
	margin: 0 auto;
}
.Form-heading {
	font-family: Dosis;
	font-weight: 100;
	margin-top:30px;
}
input ,select{
	font-family: Dosis;
	border: 2px solid #dadada;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 5px;
}
.Form-submit {
	width: 230px;
	height: 45px;
	margin-top: 10px;
	background-color: #0066FF;
	border: 1px solid #0052CC;
	font-family: Dosis;
	font-weight: 100;
	font-size: 20px;
	color: #FFFFFF;
}
.Form-submit:hover {
	background-color: #0052CC;
	box-shadow: 0 0 10px #9ecaed;
}
input[type="radio"] {
  display: none;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 10%;
  border-radius: 10%;
  background:url(sprite.png) -38px top no-repeat;
}

input[type="radio"]:checked + label span {
  background:url(sprite.png) -57px top no-repeat;
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 10%;
  border-radius: 10%;
  background:url(sprite.png) left top no-repeat;
}

input[type="checkbox"]:checked + label span {
  background:url(sprite.png) -19px top no-repeat;
}